@use '../../scss/' as *;

.cart-title{
    margin-bottom: 1em;
}

.cart-items-table{
    width: 100%;
    th{
        background-color: $themeColor;
        color: $white;
        padding: 1em;
    }
}

.no-items{
    text-align: center;
    padding: 1em;
}

.total-price{
    padding: 1em;
    padding-right: 1.5em;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}