@use '../../scss/' as *;

.category{
    @include flex(center, unset);

    &__icon{
        @include flex(unset, unset);
        font-size: 1.5em;
    }

    &__content{
        margin-left: .4em;
    }
}

.category{
    padding: .5em 0;
}

.current-item{
    color: $themeColor;
}

