@use '../../scss/' as *;

.cart-icon-holder{
    position: relative;
    cursor: pointer;
}

.item-count{
    @include flex(center, center);
    position: absolute;
    min-height: 1.2rem;
    min-width: 1.2rem;
    top: -8px;
    right: -8px;
    border-radius: 100%;
    background-color: red;
    font-size: .68rem;
    color: $white;
    font-weight: bold;
}