@use '../../scss/' as *;

.cart{
    font-size: 1.5em;
    color: $themeColor;
}

.item-count{
    @include flex(center, center);
    position: absolute;
    height: 18px;
    width: 18px;
    top: -8px;
    right: -8px;
    border-radius: 100%;
    background-color: red;
    font-size: .8em;
    color: $white;
    font-weight: bold;
}