@use '../../scss/' as *;

.header{
    background-color: $white;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;

    &__title{
        color: $themeColor;
        font-weight: bold;
        font-size: 1.4em;

        @include mobile{
            font-size: 1em;
        }
    }

    @include mobile{
        z-index: 999;
        position: fixed;
        border-bottom: 3px solid $themeColor;
    }

    .nav{
        @include flex(center, space-between);
    }

    .icons{
        @include flex(center, center);
        position: relative;
        font-size: 1.5em;
        color: $themeColor;
    }

    .mobile-menu{
        display: none;
        margin-left: .8em;
        cursor: pointer;
        @include mobile{
            display: block;
        }
    }
}